@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: stellar;
  overflow: hidden !important;
  user-select: none;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: backToSchool;
  src: url("/fonts/BackToSchoolPersonalUseRegular-w1xX2.ttf");
}
@font-face {
  font-family: stellar;
  src: url("/fonts/Stellar-Medium.otf");
}

/* page-component transition animation: */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

/* media queries */
@media (min-width: 2500px) {
  html {
    font-size: 110%;
  }
}

@media (max-width: 2499px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 2300px) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 2100px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 78.2%;
  }
}

@media (max-width: 1820px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1720px) {
  html {
    font-size: 69%;
  }
}

@media (max-width: 1580px) {
  html {
    font-size: 63%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 42%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 33%;
  }
}
